/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 2px solid black;
  z-index: 1000;
  height: 60px;
}

.logo-cell {
  font-family: "Smooch Sans", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #ff9ba1;
}

.nav {
  display: flex;
  gap: 0;
  flex: 1;
  justify-content: center;
}

.nav-item {
  position: relative;
  padding: 0 48px;
  font-family: "Poiret One", sans-serif;
  font-size: 48px;
  color: #ff9ba1;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 30%;
  width: 2px;
  height: 75%;
  background-color: black;
}

.toggle-cell {
  display: flex;
  align-items: center;
  padding: 8px 24px 0 0;
}

@media (max-width: 1350px) {
  .header {
    padding: 0 12px;
    height: 50px;
  }
  
  .logo-cell {
    font-size: 48px;
  }
  
  .nav-item {
    padding: 0 24px;
    font-size: 36px;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 0 12px;
    height: 50px;
  }
  
  .logo-cell {
    font-size: 36px;
  }
  
  .nav-item {
    padding: 0 24px;
    font-size: 24px;
  }
}
