/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
  border-bottom: 2px solid var(--color-border);
  background: var(--color-background);
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 1000;
  height: 60px;
}


.logo-cell {
  font-family: "Smooch Sans", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: var(--color-primary-text);
}

.right-cell {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
  padding: 0 24px;
  font-family: "Poiret One", sans-serif;
  font-size: 32px;
  color: var(--color-primary-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 30%;
  width: 2px;
  height: 75%;
  background-color: var(--color-border);
}

.nav-separator {
  width: 2px;
  height: 75%;
  background-color: var(--color-border);
  margin: 0 24px;
}

.toggle-cell {
  display: flex;
  align-items: center;
  padding-right: 158px;
}

@media (max-width: 1350px) {
  .header {
    padding: 12px 32px;
    height: 50px;
  }
  
  .logo-cell {
    font-size: 48px;
  }
  
  .nav-item {
    padding: 0 16px;
    font-size: 36px;
  }
  
  .nav-separator {
    margin: 0 16px;
  }
}

@media (max-width: 950px) {
  .header {
    padding: 12px 32px;
    height: 50px;
  }
  
  .logo-cell {
    font-size: 36px;
  }
  
  .nav-item {
    padding: 0 16px;
    font-size: 24px;
  }
  
  .nav-separator {
    margin: 0 16px;
  }
}
