/* Resetting margin and padding for body and html */

body {
  background-color: #E8EEE7; /* Adjust the color as needed */
}


/* Ensure all elements use the border-box model */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Custom font styles */
.tsukimi-rounded-regular {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tsukimi-rounded-medium {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tsukimi-rounded-bold {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Typing container */
.typing-container {
  display: inline-block;
  min-width: 41vh; /* Adjust this width as needed */
  text-align: left; /* Ensure text starts from the left */
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Clicked state for links */
.clicked {
  background-color: #215142 !important; /* Adjust the green color */
  color: white !important;
  transition: background-color 1s ease, color 1s ease;
}

/* Hover state for links */
a:hover {
  background-color: #215142 !important; /* Adjust the green color */
  color: white !important;
}

/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;
